{% extends 'base.html' %}

{% block title %}Composition{% endblock %}
{% block description %}Michael P. Geraci's composition portfolio - electronic composition and multimedia performance.{% endblock %}
{% block bodyclass %}composition{% endblock %}

{% block content %}

{% if not composition_landing_page %}
	{% url 'composition_url' as composition_url %}
	<a class="submenu-mobile" href="{{ composition_url }}">
		&laquo; Back to composition
	</a>
{% endif %}

<div class="submenu">
	{% include 'pages/composition_menu.html' %}
	<div class="submenu-content {% if composition_landing_page %}submenu-content--hide{% endif %}">
		{% if piece %}
			{% include "title.html" with item=title_bundle %}

			<br />

			{% if piece.audio %}
				{% include "audio.html" with src=piece.audio %}
			{% endif %}

			{% if piece.video %}
				<iframe src="{{ piece.video }}?title=0&amp;byline=0&amp;portrait=0&amp;color=bbd199" width="430" height="287" frameborder="0"></iframe>
			{% endif %}

			{% if piece.description %}
				<br />
				<h3>About the piece</h3>
				{{ piece.description|safe }}
			{% endif %}

			{% if piece.score %}
				<br />
				<br />
				<a href="{{ STATIC_URL }}documents/{{ piece.score }}">
					View the score
				</a>
			{% endif %}
		{% endif %}
	</div>
</div>

{% endblock %}
