{% extends 'base.html' %}

{% block title %}Front end developer in NY{% endblock %}
{% block description %}Michael P. Geraci is a front-end developer working in New York, NY.{% endblock %}
{% block bodyclass %}index{% endblock %}
{% block bodyid %}index{% endblock %}

{% block content %}

<div id="about" class="index-top">
	<div class="index-top-text">
		<h2 class="index-top-headline">
			I’m Michael P. Geraci.
		</h2>
		<p class="index-top-body">
			I’m a front end developer who lives in New York City. I like working for
			small companies, making nice things you can click on. I work at
			OkCupid.
		</p>
	</div>

	<div class="index-top-image">
		<div
			class="index-top-image-wrapper"
			data-lazy-image="{{ STATIC_URL }}images/headshot.jpg"
			data-lazy-image-alt="A photo of Michael P. Geraci">
		</div>
	</div>
</div>

<div>
	{% for project in home_projects %}
		{% include "pages/index/project.html" %}
	{% endfor %}
</div>

<span class="page-index-copyright">
	Copyright Michael P. Geraci, 2006-{{ year }}
	<span class="page-index-copyright-separator">
		|
	</span>
	<a class="page-index-copyright-link" href="/photography/blog">
		Archives
	</a>
</span>

{% endblock %}
