{% extends 'base.html' %}

{% block title %}Bio/Resume{% endblock %}
{% block description %}Michael P. Geraci is a front-end engineer working in New York, NY.{% endblock %}
{% block bodyclass %}index{% endblock %}

{% block content %}

<div class="index-top">
	<div class="index-top-content">
		<div class="index-top-right">
			<h2>I’m Michael P. Geraci</h2>
			<p>
			I’m a front end engineer who lives in New York City. I like working for
			small companies, making nice things you can click or tap on. I do that at
			OkCupid.
			</p>
			<p>
				<a href="{{ STATIC_URL }}/documents/Geraci_Resume_Web.pdf">Resume (PDF)</a>
				<br />
				<a href="mailto:me@mgeraci.com">
					&#109;&#101;&#64;&#109;&#103;&#101;&#114;&#97;&#99;&#105;&#46;&#99;&#111;&#109;</a>
				<br />
				<a href="http://www.github.com/mgeraci">Github</a>
			</p>
		</div>
		<div class="index-top-left">
			<div
				class="index-top-left-image-wrapper"
				data-lazy-image="{{ STATIC_URL }}images/headshot.jpg"
				data-lazy-image-alt="A photo of Michael P. Geraci">
			</div>
		</div>
	</div>
</div>

<div class="index-bottom">
	<div class="index-bottom-content">
		<h2 class="index-bottom-headline">Last updated {{ recent_date }}</h2>
		<div class="index-bottom-recent">
			{% for recent_item in recent_items %}
				{% include "pages/index/recent_item.html" %}
			{% endfor %}
		</div>
		<span class="index-bottom-copyright">
			This website and its contents are © Michael P. Geraci, 2006-{{ year }}
		</span>
	</div>
</div>

{% endblock %}
