{% extends 'base.html' %}

{% block title %}Web Engineer{% endblock %}
{% block description %}Michael P. Geraci is an API and web client engineer.{% endblock %}
{% block bodyclass %}index{% endblock %}
{% block bodyid %}index{% endblock %}

{% block content %}

<div id="about" class="index-top">
	<div class="index-top-text">
		<h2 class="index-top-headline">
			{{ headline }}
		</h2>
		<p class="index-top-body">
			{{ blurb }}
		</p>
	</div>

	<div class="index-top-image">
		<div
			class="index-top-image-wrapper"
			data-lazy-image="{{ STATIC_URL }}images/headshot.jpg"
			data-lazy-image-alt="A photo of Michael P. Geraci">
		</div>
	</div>
</div>

<div>
	{% for project in home_projects %}
		{% include "pages/index/project.html" %}
	{% endfor %}
	{% include "pages/index/more.html" %}
</div>

<span class="page-index-copyright">
	Copyright Michael P. Geraci, 2006-{{ year }}
	<span class="page-index-copyright-separator">
		|
	</span>
	<a class="page-index-copyright-link" href="/composition">
		Archives
	</a>
</span>

{% endblock %}
