{% extends 'base.html' %}

{% block title %}Bio/Resume{% endblock %}
{% block description %}Michael P. Geraci is a front-end developer working in New York, NY.{% endblock %}
{% block bodyclass %}index-new{% endblock %}
{% block bodyid %}about{% endblock %}

{% block content %}

<div id="about" class="index-top">
	<div class="index-top-text">
		<h2 class="index-top-headline">
			I’m Michael P. Geraci.
		</h2>
		<p class="index-top-body">
			I’m a front end developer who lives in New York City. I like working for
			small companies, making nice things you can click on. I work at
			OkCupid.
		</p>
	</div>

	<div class="index-top-image">
		<div
			class="index-top-image-wrapper"
			data-lazy-image="{{ STATIC_URL }}images/headshot.jpg"
			data-lazy-image-alt="A photo of Michael P. Geraci">
		</div>
	</div>
</div>

<div id="projects">
	{% for project in home_projects %}
		{% include "pages/index/project.html" %}
	{% endfor %}
</div>

<span class="index-bottom-copyright">
	Copyright Michael P. Geraci, 2006-{{ year }}
</span>

{% endblock %}
