{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}
{% block description %}{{ project.description }}{% endblock %}
{% block bodyclass %}project{% endblock %}

{% block content %}

<div
	class="
		page-project-top
		{% if project.light_text %}page-project-top--light-text{% endif %}
		{{ project.slug }}
	"
	{% if project.background %}style="background: #{{ project.background }}"{% endif %}
>
	<h1 class="page-project-title">
		{{ project.title }}
	</h1>

	<div
		class="page-project-hero"
		data-lazy-image="{{ MEDIA_URL }}{{ project.image }}"
		data-lazy-image-alt="The hero image for {{ project.title }}"
		{% if project.image_max_width %}
			data-lazy-max-width="{{ project.image_max_width }}"
		{% endif %}
	></div>
</div>

<div class="content-inner">
	{% if project.links %}
		<div class="project-links">
			{% for link in project.links %}
				<a
					class="project-links-link"
					href="{{ link.url }}"
				>
					{{ link.text }}
				</a>
				{% if forloop.counter < project.links|length %}
					/
				{% endif %}
			{% endfor %}
		</div>
	{% endif %}

	{% for p in project.content %}
		{% if p.is_media %}
			{% include "pages/project/media.html" with media=p %}
		{% elif p.is_title %}
			<h2 class="page-project-header">
				{{ p.text|safe }}
			</h2>
		{% else %}
			<p class="page-project-paragraph">
				{{ p.text|safe }}
			</p>
		{% endif %}
	{% endfor %}

	<span class="page-project-footer">
		Thanks for reading.
	</span>

	{% include "pages/project/navigation.html" with nav=navigation %}
</div>

{% endblock %}
