{% extends 'base.html' %}

{% block title %}{{ project.title }}{% endblock %}
{% block description %}{{ project.description }}{% endblock %}
{% block bodyclass %}project{% endblock %}

{% block content %}

<h1 class="page-project-title">
	{{ project.title }}
</h1>

<div
	class="page-project-hero"
	data-lazy-image="{{ MEDIA_URL }}{{ project.image }}"
  data-lazy-alt="The hero image for {{ project.title }}"
></div>

{% for p in project.content %}
	{% if p.is_media %}
		{% include "pages/project/media.html" with media=p %}
	{% else %}
		<p class="page-project-paragraph">
			{{ p|safe }}
		</p>
	{% endif %}
{% endfor %}

<span class="page-project-footer">
	Thanks for reading.
</span>

{% endblock %}
