{% extends 'base.html' %}

{% block title %}Recordings{% endblock %}
{% block description %}Michael P. Geraci's recording portfolio - digital recording in Pro Tools.{% endblock %}
{% block bodyclass %}recordings{% endblock %}

{% block content %}

{% if not recording_landing_page %}
	{% url 'recordings_url' as recordings_url %}
	<a class="submenu-mobile" href="{{ recordings_url }}">
		&laquo; Back to recordings
	</a>
{% endif %}

<div class="submenu">
	{% include 'pages/recordings_menu.html' %}
	<div class="submenu-content {% if recording_landing_page %}submenu-content--hide{% endif %}">
		{% if page %}

			{% include "title.html" with item=title_bundle %}

			<div class="recording-content-wrapper">
				{% if page.thumbnail %}
					<div
						class="recording-thumbnail"
						data-lazy-image="{{ MEDIA_URL }}{{ page.thumbnail }}"
						data-lazy-image-alt="An image of {{ page.title }}">
					</div>
				{% endif %}

				<div class="recording-content">
					{% if page.notes %}
						{{ page.notes|linebreaksbr }}
					{% endif %}
				</div>
			</div>

			{% for recording in recordings %}
				{% include "audio.html" with title=recording.title src=recording.audio %}
			{% endfor %}

			<br />
			<br />

			{% if page.description %}
				<div class="recording-description">
					<h3>About the recording</h3>
					{{ page.description|safe|linebreaksbr }}
				</div>
			{% endif %}

		{% endif %}
	</div>
</div>

{% endblock %}
