<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>
			Resume | Michael P. Geraci
		</title>
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<meta name="verify-v1" content="c3G4kM74qA6ztpDl/bE6D/t9pgqANYt17h1Xjs/b0q8=">
		<meta name="description" content="Michael P. Geraci's resume">
		<meta name="keywords" content="michael, geraci, michael geraci, michael p. geraci, web design, web, user experience, ux design, photography, graphic design, recording">

		<link rel="icon" href="{{ STATIC_URL }}images/favicon-pngquant.png">

		{% if is_local %}
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ STATIC_URL }}css/build/styles.css"
			/>
		{% else %}
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ STATIC_URL }}css/build/styles.min.css?v={{ static_versions.styles }}"
			/>
		{% endif %}
	</head>
	<body class="page-resume">
		<div class="page-resume-wrapper">
			<div class="header">

				<div class="header-left">
					<div class="header-name">{{ header.name }}</div>
					<span class="header-tagline">{{ header.tagline }}</span>
				</div>

				<div class="header-right">
					<div class="header-right-top">
						<a href="mailto:{{ header.email}}" class="header-email">
							{{ header.email }}
						</a>
						{% if show_phone %}
							<div class="header-right-top-separator">
								&bull;
							</div>
							<a href="tel:{{ header.phone}}" class="header-phone">
								{{ header.phone }}
							</a>
						{% endif %}
					</div>
					<a href="http://{{ header.url }}" class="header-url">
						{{ header.url }}
					</a>
				</div>
			</div>
			{% for section in sections %}
				<div class="section">
					<div class="section-title">
						<div class="section-title-text">
							{{ section.title }}
						</div>
					</div>
					<div class="section-content">
						{% if section.title == "Experience" or section.title == "Work" %}
							{% for content in section.content %}
								{% include "pages/_resume_job.html" with job=content %}
							{% endfor %}
						{% else %}
							{% for content in section.content %}
								<div class="section-content-line">
									{{ content }}
								</div>
							{% endfor %}
						{% endif %}
					</div>
				</div>
			{% endfor %}
		</div>
	</body>
</html>
