{% extends 'base.html' %}

{% block title %}
{{ web.title }} | Web Design
{% endblock %}

{% block bodyclass %}web{% endblock %}

{% block content %}

{% include 'title.html' with item=title_bundle %}

{% if web.link %}
	<a href="{{ web.link }}">visit</a>
{% endif %}
{% if web.link and web.source %}/{% endif %}
{% if web.source %}
	<a href="{{ web.source }}">view source</a>
{% endif %}

{% for web_item in web_items %}
	{% if web_item.image %}
		<div
			class="web-image"
			data-lazy-image="{{ MEDIA_URL }}{{ web_item.image }}"
			data-lazy-image-alt="an image of {{ web.title }}">
		</div>
	{% endif %}
	{% if web_item.video %}
		<iframe src="{{ web_item.video }}?title=0&amp;byline=0&amp;portrait=0&amp;color=bbd199" width="430" height="287" frameborder="0"></iframe>
	{% endif %}
{% endfor %}

{% endblock %}
