$video-icon-size: 80px;

@import "./project/media";
@import "./project/navigation";

.page-project {
  text-align: center;

  // undo default content centering
  .content {
    position: relative;
    overflow: hidden; // stop ie from side scrolling
    padding-top: 0;
    width: 100%;
    max-width: 100%;
    margin-left: 0 !important;

    &-inner {
      max-width: 1000px;
      margin: 0 auto;
    }
  }

  &-top {
    width: 100%;
    padding: 30px 0 50px;
    margin-bottom: 70px;

    &--light-text {
      color: $Colors-white;
    }

    // the mirror hits the bottom of the top section
    &.smart-mirror {
      padding-bottom: 0;

      img {
        transform: translateX(-27%);
        max-width: 1500px;
        width: 130%;
        height: auto;

        @media (max-width: 700px) {
          width: 150%;
        }

        @media (max-width: 450px) {
          width: 180%;
        }
      }
    }

    img {
      float: left;
      position: relative;
      left: 50%;
      transform: translateX(-50%);
      max-width: 1000px;
    }
  }

  &-title {
    display: block;
    width: 100%;
    margin-bottom: 60px;
    text-align: center;
    @include type(28px, 36px);
    font-weight: bold;

    @media (max-width: 700px) {
      @include type(24px, 30px);
      margin-bottom: 30px;
    }
  }

  &-hero {
    @include clearfix;
    position: relative;
    overflow: hidden;
    min-height: 45vh;

    @media (max-width: 700px) {
      min-height: 0;
      padding: 0 3%;
      margin-bottom: 15px;
    }

    &,
    img {
      width: 100%;
    }
  }

  .project-links {
    width: 100%;
    text-align: center;
    color: $Colors-gray-3;

    &-link {
      @include type(15px, 24px);
      @include link-color($Colors-gray-3, $Colors-gray-2);
    }
  }

  &-header,
  &-paragraph {
    display: inline-block;
    width: 100%;
    max-width: 620px;
    text-align: left;

    @media (max-width: 700px) {
      padding-right: 7%;
      padding-left: 7%;
      @include type(17px, 26px);
    }
  }

  &-header {
    padding-bottom: 0;
    font-size: 22px;
  }

  &-paragraph {
    margin-top: 28px;
    @include type(18px, 30px);
  }

  // paragraphs after headers
  &-header + &-paragraph {
    margin-top: 15px;
  }

  // headers after paragraphs
  &-paragraph + &-header {
    margin-top: 70px;
  }

  // headers after media
  &-media + &-header {
    margin-top: 27px;
  }

  &-footer {
    display: block;
    width: 100%;
    margin-top: 60px;
    text-align: center;
    font-size: 15px;
  }
}
