$image-size: 200px;
$recordings-breakpoint: 875px;

.page-recordings {
  .title {
    margin-bottom: 20px;
	}

  .recording-content-wrapper {
    position: relative;
	}

  .recording-thumbnail {
    display: block;
    width: 100%;
    margin-bottom: 20px;

    img {
      width: $image-size;
      height: $image-size;
      @include center;
		}
	}

  .recording-content {
    margin-bottom: 20px;
    text-align: center;
	}

  .recording-thumbnail {
    margin-bottom: 0;
    min-height: $image-size + 20;

    @media (max-width: $recordings-breakpoint) {
      min-height: 0;
      padding-left: 0;
		}
	}

  .audio {
    & + .audio {
      margin-top: 20px;
		}
	}
}
