body {
  color: #444444; }

h2, h1 {
  float: left;
  clear: both;
  width: 100%;
  text-align: center; }

h2 {
  font-size: 30px;
  font-style: oblique;
  margin-bottom: 5px; }

h1 {
  font-size: 70px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

.links {
  width: 100%;
  text-align: center; }

ul#albums {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 60px; }
  ul#albums li {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 50px;
    position: relative; }

.count {
  font-size: 500px;
  font-style: oblique;
  position: absolute;
  top: 0px;
  left: -140px;
  z-index: 1;
  color: #b2cb8b; }

li:first-child .count {
  left: -115px; }

li:nth-child(3) .count {
  top: -50px; }

li:nth-child(4) .count {
  top: -60px; }

li:nth-child(5) .count {
  top: -50px; }

li:nth-child(6) .count {
  top: 30px; }

li:nth-child(7) .count {
  top: -30px; }

li:nth-child(10) .count {
  letter-spacing: -70px;
  left: -230px; }

img {
  position: relative;
  z-index: 2;
  float: left;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2); }

.content {
  width: 50%;
  float: right; }
  .content h1, .content h2 {
    float: left;
    clear: both;
    text-align: left;
    color: #444444;
    font-size: 45px; }
  .content h2 {
    font-size: 20px; }
    .content h2 span {
      font-size: 40px; }
  .content .text {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 35px;
    font-size: 24px; }
  .content .song {
    float: left;
    clear: both;
    margin-top: 35px;
    margin-bottom: 3px;
    font-size: 20px;
    font-style: oblique; }
  .content object {
    float: left;
    clear: both; }
  .content .link {
    float: left;
    clear: both;
    margin-top: 35px;
    font-size: 24px; }

#thanks {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 50px;
  text-align: center; }
