/* ==================== */
/* = Opera Stylesheet = */
/* ==================== */

#logoL{height: 2200px;}

#logoR{height: 2200px;}

input.mailform_input{
	padding-top: 5px;
	font-size: 10px;
}

#formContainer textarea{font-family: arial;}