dropbox/*
dropbox/*/*
dropbox/*/*/*
dropbox/*/*/*/*
media/photography/blog/*
media/photography/blog/*/*
media/graphic/*
media/graphic/*/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
**/*.DS_Store
now_playing/*
now_playing/*/*
now_playing/*/*/*
extras/winterpills/*.zip
extras/linkedlistnyc/*
extras/linkedlistnyc/*/*
extras/linkedlistnyc/*/*/*
