.sass-cache
dropbox/*
dropbox/*/*
dropbox/*/*/*
dropbox/*/*/*/*
media/photography/blog/*
media/photography/blog/*/*
media/graphic/*
media/graphic/*/*
.DS_Store
*/.DS_Store
*/*/.DS_Store
**/*.DS_Store
now_playing/*
now_playing/*/*
now_playing/*/*/*
extras/winterpills/*.zip
extras/linkedlistnyc/*
extras/linkedlistnyc/*/*
extras/linkedlistnyc/*/*/*
extras/synth

includes/connect.php
admin/.htaccess
admin/.htpasswd
extras/rumney/.htaccess
extras/rumney/.htpasswd

michael_dot_com/michael_dot_com/localsettings.py
michael_dot_com/michael_dot_com/localsettings.pyc
