# disable view contents of directories
Options -Indexes 

# errors
ErrorDocument 404 /error.php?error=404
ErrorDocument 403 /error.php?error=403
ErrorDocument 401 /error.php?error=401
ErrorDocument 400 /error.php?error=400
ErrorDocument 500 /error.php?error=500

# force download on .mus files
AddType application/octet-stream .mus .cdr

# rewrites
RewriteEngine on

# deny access to the top-level git repository:
RewriteRule \.git - [F,L]

# site pages
RewriteRule ^bio/?$ bio.php

RewriteRule ^composition/?$ composition.php
RewriteRule ^composition/(.+)?$ composition.php?piece=$1 [L]

RewriteRule ^recordings/?$ recordings.php
RewriteRule ^recordings/(.+)?$ recordings.php?piece=$1 [L]

RewriteRule ^graphic/?$ graphic.php
RewriteRule ^graphic/([^/]*)/?$ graphic.php?piece=$1 [L]

RewriteRule ^photography/?$ photography.php
RewriteRule ^photography/blog/browse/?$ photobrowse.php?section=all
RewriteRule ^photography/blog/browse/([^/]*)/?$ photobrowse.php?section=$1
RewriteRule ^photography/blog/rss/?$ photoblogRSS.php
RewriteRule ^photography/([^/]*)/?$ photography.php?section=$1
RewriteRule ^photography/([^/]*)/([^/]*)/?$ photography.php?section=$1&piece=$2 [L]

RewriteRule ^web/?$ web.php
RewriteRule ^web/(.+)?$ web.php?piece=$1 [L]

RewriteRule ^links/?$ links.php

# extras pages
RewriteRule ^my-favorite-records-of-2011/? extras/favoriteAlbums2011/index.php

# redirects
Redirect 301 /bio.htm http://www.michaelgeraci.com/bio
Redirect 301 /composition.htm http://www.michaelgeraci.com/composition
Redirect 301 /digital.htm http://www.michaelgeraci.com/graphic
Redirect 301 /links.htm http://www.michaelgeraci.com/links