{% extends 'base.html' %}

{% block title %}Making Lists of Music{% endblock %}
{% block description %}Lists of Michael P. Geraci's favorite music.{% endblock %}
{% block bodyclass %}album-lists{% endblock %}

{% block content %}
	<h2 class="page-album-lists-title">All lists</h2>
	<ul>
		{% for list in lists %}
			{% if not list.hidden %}
				<li class="page-album-lists-item">
					<a
						class="page-album-lists-link"
						href="{% url 'album_list_url' list.slug %}"
						data-lazy-image="{{ MEDIA_URL }}/{{ list.albums.first.cover }}"
					>
						<span class="page-album-lists-link-text">
							{{ list.name }}
						</span>
					</a>
				</li>
			{% endif %}
		{% endfor %}
	</ul>

{% endblock %}
