<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>
			Michael P. Geraci - {% block title %}{% endblock %}
		</title>
		<link rel="shortcut icon" href="http://michaelgeraci.com/favicon.ico" type="image/x-icon">
		<link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/style.css" />
		<script type="text/javascript" src="{{ STATIC_URL }}js/jquery-2.1.3.min.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/audioplayer.js"></script>
		<script type="text/javascript" src="{{ STATIC_URL }}js/application.js"></script>
	</head>
	<body>

		{% include "menu.html" %}

		<div id="contentWrapper" class="wrapOut">
			<div class="wrapIn">
				{% block content %}{% endblock %}
			</div>
		</div>

		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-8480724-2']);
			_gaq.push(['_trackPageview']);
			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();
		</script>

	</body>
</html>
