{% with root="http://www.michaelgeraci.com" %}

<div id="menuWrapper" class="wrapOut">
	<div class="wrapIn">
		<ul id="menu">
			<li>
				<a class="bio" href="{{ root }}/">
					Bio/Resume
				</a>
			</li>
			<li>
				<a class="web" href="{{ root }}/web">
					Web Design
				</a>
			</li>
			<li>
				<a class="photo" href="{{ root }}/photography">
					Photography
				</a>
			</li>
			<li>
				<a class="graphic" href="{{ root }}/graphic">
					Graphic Design
				</a>
			</li>
			<li>
				<a class="composition" href="{{ root }}/composition">
					Compositions and Multimedia
				</a>
			</li>
			<li>
				<a class="recordings" href="{{ root }}/recordings">
					Recordings
				</a>
			</li>
			<li>
				<a class="links" style="margin-right: 0px;" href="{{ root }}/links">
					Links
				</a>
			</li>
		</ul>
	</div>
</div>

{% endwith %}
