// sass --watch extras/favoriteAlbums2011/stylesheets --style compressed

$green: #bbd199
$cream: #f3f4d3
$text: #444

=stack
  float: left
  clear: both

=stackwide
  +stack
  width: 100%

body
  color: $text

h2, h1
  +stackwide
  text-align: center

h2
  font-size: 30px
  font-style: oblique
  margin:
    bottom: 5px

h1
  font-size: 70px
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2)

.links
  text-align: center
  color: gray

  a
    color: gray

    &:hover
      color: $cream


// =========
// = album =
// =========

ul#albums
  +stackwide
  margin:
    top: 60px

  li
    +stackwide
    margin:
      bottom: 50px
    position: relative

.count
  font-size: 500px
  font-style: oblique
  position: absolute
  top: 0px
  left: -140px
  z-index: 1
  color: darken($green, 4%)
  letter-spacing: -55px

  &.count1
    left: -115px

  &.count3
    top: -50px

  &.count4
    top: -60px

  &.count5
    top: -50px

  &.count6
    top: 30px

  &.count7
    top: -30px

  &.count10, &.count11, &.count12, &.count13
    left: -250px

img
  position: relative
  z-index: 2
  float: left
  width: 400px
  height: 400px
  background: transparentize(white, 0.8)

.content
  width: 50%
  float: right

  h1, h2
    +stack
    text-align: left
    color: $text
    font-size: 45px

  h2
    font-size: 20px

    span
      font-size: 40px

  .text
    +stackwide
    margin:
      top: 25px
    font-size: 24px

  .song_wrapper
    +stack
    margin:
      top: 25px
    padding: 10px
      left: 15px
    background: $text
    border-radius: 4px

    color: $cream
    font-size: 20px
    font-style: oblique
    letter-spacing: 2px

    .control
      float: left
      width: 23px
      height: 23px
      position: relative
      line-height: 500px
      overflow: hidden
      background: url(../images/play-sprite.png) 0px 0px no-repeat

      &.playing
        background: url(../images/play-sprite.png) -25px 0px no-repeat

    span
      float: left
      margin:
        top: 6px
        left: 5px

    audio
      display: none

  .link
    +stack
    margin:
      top: 35px
    font-size: 24px

#thanks
  +stackwide
  margin:
    bottom: 50px
  text-align: center

.ignore
