body {
  color: #444444; }

h2, h1 {
  float: left;
  clear: both;
  width: 100%;
  text-align: center; }

h2 {
  font-size: 30px;
  font-style: oblique;
  margin-bottom: 5px; }

h1 {
  font-size: 70px;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2); }

ul#albums {
  float: left;
  clear: both;
  width: 100%;
  margin-top: 60px; }
  ul#albums li {
    float: left;
    clear: both;
    width: 100%;
    margin-bottom: 50px;
    position: relative; }

.count {
  font-size: 500px;
  font-style: oblique;
  position: absolute;
  top: 0px;
  left: -140px;
  z-index: 1;
  color: #b2cb8b;
  letter-spacing: -55px; }
  .count.count1 {
    left: -115px; }
  .count.count3 {
    top: -50px; }
  .count.count4 {
    top: -60px; }
  .count.count5 {
    top: -50px; }
  .count.count6 {
    top: 30px; }
  .count.count7 {
    top: -30px; }
  .count.count10, .count.count11, .count.count12, .count.count13 {
    left: -250px; }

img {
  position: relative;
  z-index: 2;
  float: left;
  width: 400px;
  height: 400px;
  background: rgba(255, 255, 255, 0.2); }

.content {
  width: 50%;
  float: right; }
  .content h1, .content h2 {
    float: left;
    clear: both;
    text-align: left;
    color: #444444;
    font-size: 45px; }
  .content h2 {
    font-size: 20px; }
    .content h2 span {
      font-size: 40px; }
  .content .text {
    float: left;
    clear: both;
    width: 100%;
    margin-top: 25px;
    font-size: 24px; }
  .content .song {
    float: left;
    clear: both;
    margin-top: 25px;
    margin-bottom: 3px;
    font-size: 20px;
    font-style: oblique; }
  .content .audio-wrapper {
    float: left;
    clear: both;
    position: relative; }
  .content audio {
    float: left;
    clear: both;
    margin-top: 5px; }
  .content .play {
    position: absolute;
    top: 5px;
    left: 0;
    overflow: hidden;
    line-height: 100px;
    width: 40px;
    height: 30px; }
  .content .link {
    float: left;
    clear: both;
    margin-top: 35px;
    font-size: 24px; }

#thanks {
  float: left;
  clear: both;
  width: 100%;
  margin-bottom: 50px;
  text-align: center; }
