$more-breakpoint: 800px;

.project {
  @include clearfix;
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 80vh;

  @media (max-width: 1500px) {
    height: 75vh;
  }

  @media (max-width: #{$index-breakpoint - 1}) {
    height: auto;
  }

  &.more-projects {
    height: auto !important;

    .project-text {
      width: 100%;

      &-content {
        transform: translate(-50%, 0);
        top: 0;
        left: 50%;
        margin-left: 0;
        padding-bottom: 20px;
      }
    }
  }

  &-text,
  &-image {
    float: left;
    width: 50%;
    height: 100%;

    @media (max-width: #{$index-breakpoint - 1}) {
      width: 100%;
    }
  }

  &-text {
    float: left;
    position: relative;
    display: block;
    color: $Colors-gray-1;

    $light-color: rgba($Colors-white, 0.9);

    &--light {
      color: $light-color;

      .project-text-title {
        color: $Colors-white;
      }

      .project-text-more {
        @include link-color($light-color, $light-color);
      }
    }

    &-content {
      position: relative;
      width: 100%;
      max-width: 800px;
      padding: 6vw;

      @media (min-width: $index-breakpoint) {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }

    &-title {
      display: block;
      width: 100%;
      text-align: left;
    }

    &-description,
    &-more {
      @include type(18px, 30px);

      @media (min-width: 1300px) {
        @include type(20px, 32px);
      }
    }

    &-more {
      display: inline-block;
      margin-top: 20px;
      @include link-color($text, $text);

      &-arrow {
        display: inline-block;
        transition: transform 200ms ease;
      }

      &:hover {
        .project-text-more-arrow {;
          transform: translateX(4px);
        }
      }
    }

    &-link {
      @include link-color($Colors-blue-3, $Colors-blue-2);
    }
  }

  &-image {
    float: right;
    position: relative;
    overflow: hidden;
    min-height: 300px;
    padding: 50px 0;

    @media (max-width: #{$project-breakpoint - 1}) {
      min-height: 0;
      padding: 30px 0 10px;
    }

    &-wrapper {
      display: block;
      position: relative;
      margin: 0 auto;
      max-width: 90% !important; // this has to override an inline style applied by js
      max-height: 90%;
      height: auto;

      img {
        position: relative;
        width: 100%;
        left: 50%;
        transform: translateX(-50%);
      }

      @media (min-width: $index-breakpoint) {
        margin: 0;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  // special styling for the smart mirror image
  &.smart-mirror {
    .project-image-wrapper {
      position: absolute;
      top: auto;
      right: auto;
      left: 6%;
      bottom: 0;
      transform: translate(0, 0);
      width: 160%;
      max-width: 1200px !important;
      max-height: 160%;

      @media (min-width: 1600px) {
        max-width: 1400px !important;
        left: 50%;
        transform: translateX(-27%);
      }

      img {
        display: block;
      }
    }

    $mirror-breakpoint: 1600px;

    // highly uncouth, but the benefit of having the whole mirror on screen is
    // more important than having all of the home projects be the same height
    @media (min-width: $mirror-breakpoint) {
      height: 880px;
    }

    @media (max-width: #{$mirror-breakpoint - 1}) {
      height: 54vw;
    }

    @media (max-width: #{$index-breakpoint - 1}) {
      height: auto;

      .project-image {
        padding: 0;
        padding-top: 100%;
        background: rgba($Colors-black, 0.05);
      }
    }
  }
}
