$audio-width: 100%;
$audio-height: 40px;
$audio-br: 5px;
$playpause-width: 40px;
$time-width: 100px;
$scrubber-height: 10px;
$scrubber-padding: ($audio-height - $scrubber-height) / 2;
$icon-color: $text;

@mixin audio-colors(
  $bg,
  $button-bg,
  $button-bg-active,
  $scrubber-bg
) {
  background: $bg;

  .play-pause,
  .time {
    background: $button-bg;
  }

  .play-pause {
    &:hover {
      background: $button-bg-active;
    }
  }

  .scrubber {
    background: $scrubber-bg
  }
}

.audiojs {
  position: relative;
  width: $audio-width;
  height: $audio-height;
  padding-top: $scrubber-padding;
  padding-right: $time-width + $scrubber-padding;
  padding-bottom: $scrubber-padding;
  padding-left: $playpause-width + $scrubber-padding;
  border-radius: $audio-br;
  color: $text;
  line-height: $audio-height;

  @include audio-colors(
    $bg: $Colors-gray-6,
    $button-bg: $Colors-gray-5,
    $button-bg-active: $Colors-blue-5,
    $scrubber-bg: $Colors-gray-5
  );

  .green-bg & {
    @include audio-colors(
      $bg: mix($green, $cream),
      $button-bg: $cream,
      $button-bg-active: darken($cream, 10%),
      $scrubber-bg: darken($green, 10%)
    );
  }


  // general styles
  /////////////////////////////////////////////////////////////////////////////

  .play-pause,
  .time {
    position: absolute;
    top: 0;
    height: 100%;
  }


  // left side icons
  /////////////////////////////////////////////////////////////////////////////

  // wraps all state icons
  .play-pause {
    left: 0;
    width: $playpause-width;
    @include border-left-radius($audio-br);
    cursor: pointer;
  }

  $triangle-width: 15px;
  $triangle-height: 20px;
  .play {
    margin-top: ($audio-height - $triangle-height) / 2;
    margin-left: ($playpause-width - $triangle-width) / 2;
    @include triangle($triangle-height $triangle-width, $icon-color, right);
  }

  $pause-width: 14px;
  $pause-height: 16px;
  .pause {
    position: relative;
    margin-top: ($audio-height - $pause-height) / 2;
    margin-left: ($playpause-width - $pause-width) / 2;
    width: $pause-width;
    height: $pause-height;

    &:before,
    &:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 5px;
      height: 100%;
      background: $icon-color;
    }

    &:before {
      left: 0;
    }

    &:after {
      right: 0;
    }
  }

  .pause {
    display: none;
  }

  &.playing {
    .pause {
      display: block;
    }

    .play {
      display: none;
    }
  }


  // right side time count
  /////////////////////////////////////////////////////////////////////////////

  .time {
    right: 0;
    width: $time-width;
    overflow: hidden;
    @include border-right-radius($audio-br);
    text-align: center;
    font-family: monospace;

    &,
    em {
      font-style: normal;
      font-size: 12px;
    }
  }


  // progress
  /////////////////////////////////////////////////////////////////////////////

  .scrubber {
    width: 100%;
    height: 100%;

    .progress {
      width: 0;
      height: 100%;
      background: $text;
      @include transition(width 600ms linear);
    }
  }
}
