$font-root: "#{$STATIC_ROOT}fonts/"

// headline font
@font-face
  font-family: 'headline'
  src: url('#{$font-root}headline.eot?#iefix') format('embedded-opentype'), url('#{$font-root}headline.woff') format('woff'), url('#{$font-root}headline.ttf') format('truetype'), url('#{$font-root}headline.svg#Headline') format('svg')
  font-weight: bold
  font-style: normal
