.nav-mobile
  @include clearfix
  display: none

  @media (max-width: $menu-breakpoint - 1)
    display: block

  // showing menu state
  &--has-menu
    .nav-mobile-menu
      height: 254px

    .nav-mobile-menu-trigger-icon
      border: 0
      @include triangle($mobile-icon-size, $text, up)

  &-header
    display: block
    height: $mobile-header-height
    padding: $mobile-header-padding $body-mobile-gutter

    $inner-height: $mobile-header-height - $mobile-header-padding * 2

    &-icon
      float: right
      @include circle-style($inner-height)
      @include type(18px, $inner-height + 1)

    &-title
      @include bare-button
      position: relative
      top: 3px
      float: left
      @include ellipsis
      max-width: 230px
      height: $inner-height
      padding-right: 20px // for icon
      text-align: right
      line-height: $inner-height

      &-icon
        position: absolute
        top: 50%
        right: 0
        margin-top: $mobile-icon-size * -0.3
        @include triangle($mobile-icon-size, $text, down)


  // the pop-up menu
  // --------------------------------------------------------------------------

  $menu-rotate-breakpoint: 450px
  $menu-rotated-padding: 4vh

  &-menu
    position: fixed
    z-index: 200
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(#000, 0.85)

    @include transition(transform 200ms ease)
    @include transform(translateY(-100%))

    &--show
      @include transform(translateY(0))

    &-content
      position: absolute
      overflow: scroll
      -webkit-overflow-scrolling: touch
      top: 0
      left: 0
      width: 100%
      height: 100%
      padding-top: 10vh

      @media (max-height: 550px)
        padding-top: $menu-rotated-padding

    li
      float: left
      width: 100%

    a,
    h1
      position: relative
      display: block
      padding: 10px
      text-align: center
      text-decoration: none
      font-size: 18px

      color: $menu-color
      font-size: 18px
      letter-spacing: 0.7px

    h1
      padding: 0
      font-weight: normal
      color: $cream


    @media (max-height: 500px)
      a
        padding: 5px

    @media (max-height: $menu-rotate-breakpoint)
      padding-bottom: $menu-rotated-padding

      a,
      h1
        font-size: 14px


    $close-size: 56px

    &-close
      @include bare-button
      position: absolute
      overflow: hidden
      bottom: 20px
      left: 50%
      margin-left: $close-size * -0.5
      width: $close-size
      height: $close-size
      color: $menu-color
      font-style: oblique

      @media (max-height: $menu-rotate-breakpoint)
        bottom: auto
        top: 10px
        left: 10px + $close-size / 2
