// global includes
// ----------------------------------------------------------------------------

@import "vendor/reset";
@import "vendor/bourbon";
@import "variables";
@import "mixins";


// general styles
// ----------------------------------------------------------------------------

* {
  box-sizing: border-box;
}

body {
  background: $Colors-gray-8;
  padding-bottom: 20px;
  font-family: "Source Serif Pro";
  @include type(18px, 30px);
  -webkit-font-smoothing: antialiased;
  color: $Colors-gray-1;

  &.no-scroll {
    overflow: hidden;
  }

  &.green-bg {
    background: $green;
    font-family: "PT Serif", "Georgia", times, arial, sans-serif;
    color: $text;
  }
}

section,
.nav-desktop {
  display: block;
  width: 100%;
}

section.content {
  @include clearfix;
  @include content-sizing;
}

.content a {
  text-decoration: none;
}

@mixin h2 {
  font-weight: bold;
  font-size: 22px;
  padding-bottom: 10px;
}

@mixin h3 {
  font-weight: bold;
}

h2 {
  @include h2;
}

h3 {
  @include h3;
}

blockquote {
  border-left: 3px solid rgba(#000, 0.1);
  padding-left: 20px;
  margin: 20px 0;
}

em {
  font-style: oblique;
}

.title {
  h2,
  .subtitle {
    display: block;
    width: 100%;
    text-align: center;
  }

  h2 {
    padding-bottom: 20px;
  }

  .subtitle {
    position: relative;
    bottom: 10px;
  }
}

.audio {
  &-title {
    padding-bottom: 10px;
    font-style: oblique;
    font-size: 16px;
  }
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}


$loader-size: 34px;

.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: $loader-size;
  height: $loader-size;
  margin-top: $loader-size * -0.5;
  margin-left: $loader-size * -0.5;
  border: 4px solid $Colors-gray-1;
  border-bottom-color: $Colors-blue-3;
  border-radius: 50%;
  animation-name: spin;
  animation-duration: 1600ms;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}


// includes
// ----------------------------------------------------------------------------

// general
@import "fonts";
@import "menu";
@import "menu_new";
@import "menu_mobile";
@import "submenu";
@import "audio_player";
@import "swipeable";

// pages
@import "pages/index";
@import "pages/project";
@import "pages/composition";
@import "pages/recordings";
@import "pages/steel";
@import "pages/web";
@import "pages/links";
@import "pages/graphic";
@import "pages/resume";

// albums
@import "../../../albums/static/css/index";
