// colors
$green: #bbd199;
$cream: #f3f4d3;
$text: #444;
$header-text: #333;
$index-highlight: #3260c7;

// okcupid colors
$Colors-gray-1: #474d59;
$Colors-gray-2: #5e6573;
$Colors-gray-3: #949aa6;
$Colors-gray-4: #aeb4bf;
$Colors-gray-5: #ccd0d9;
$Colors-gray-6: #ebedf2;
$Colors-gray-7: #f3f5f9;
$Colors-gray-8: #fafbfd;

$Colors-blue-1: #104da1;
$Colors-blue-2: #3260c7;
$Colors-blue-3: #4c7bd9;
$Colors-blue-4: #9dbaf2;
$Colors-blue-5: #d5e0f8;
$Colors-blue-6: #e4edfd;

$Colors-white: #fff;

// sizes
$body-width: 1000px;
$body-breakpoint-gutter: 50px;
$body-mobile-gutter: 7%;
$menu-max-width: 1000px;
$menu-breakpoint: 800px;
$menu-color: #777;

// various
$active-link-shadow: 0 1px 2px rgba(#000, 0.15);
$menu-items: 7;
$photoblog-thumbnail-size: 75px;
$photoblog-transition: 200ms;
