$thumbnail-size: 75px

.page-photography
  &-thumbnails
    @include clearfix
    width: $thumbnail-size * 8
    margin: 0 auto
    text-align: center

    @media (max-width: $thumbnail-size * 8 + 40)
      width: 100%

    &-title
      display: block
      width: 100%
      margin-bottom: 40px

      &-clear
        @include bare-button
        margin-left: 20px
        cursor: pointer
        font-size: 16px
        @include link($text, $cream)

  &-thumbnail
    @include no-link
    display: inline-block
    width: $thumbnail-size
    height: $thumbnail-size

    &-image
      width: 100%
      height: 100%

  &-main
    position: fixed
    top: 0
    left: 0
    width: 100%
    height: 100%
    background: rgba(black, 0.8)
    color: #aaa;

    a.page-photography-main-tag
      margin-left: 10px
      @include link(#ccc, $cream)

      &:first-child
        margin-left: 0


// react css transition group
// ----------------------------------------------------------------------------

// the main image fade
.main-image-enter,
.main-image-appear
  opacity: 0.01

.main-image-enter.main-image-enter-active,
.main-image-appear.main-image-appear-active
  opacity: 1
  @include transition(opacity 200ms ease-in)

// the image detail modal
.image-detail-enter,
.image-detail-appear
  opacity: 0.01

.image-detail-enter.image-detail-enter-active,
.image-detail-appear.image-detail-appear-active
  opacity: 1
  @include transition(opacity 200ms ease-in)
