<div
	class="
		page-project-media
		{% if media.video_mp4 and media.video_webm %}has-video{% endif %}
		{% if media.is_mobile %}is-mobile{% endif %}
	"
	{% if media.max_width %}style="max-width: {{ media.max_width }}px;"{% endif %}
>
	{% if media.is_mobile %}<div class="page-project-media-mobile-bg">{% endif %}

	{% if media.video_mp4 and media.video_mp4 %}
		<div class="page-project-media-video-wrapper">
			<video
				class="page-project-media-video"
				loop
				{% if media.image %}
					poster="{{ MEDIA_URL }}{{ media.image }}"
				{% endif %}
			>
				<source src="{{ MEDIA_URL }}{{ media.video_mp4 }}" type="video/mp4">
				<source src="{{ MEDIA_URL }}{{ media.video_webm }}" type="video/webm">
				<p>
					Your browser doesn't support HTML5 video. Here is a
					<a href="{{ MEDIA_URL }}{{ media.video_mp4 }}">link to the video</a>
					instead.
				</p>
			</video>
			<div class="page-project-media-video-icon-wrapper show">
				<div class="page-project-media-video-icon"></div>
			</div>
		</div>
	{% else %}
		<div
			class="page-project-media-image"
			{% if media.image %}
				data-lazy-image="{{ MEDIA_URL }}{{ media.image }}"
				data-lazy-alt="{{ media.caption }}"
			{% endif %}
		>
		</div>
	{% endif %}

	{% if media.is_mobile %}</div>{% endif %}

	{% if media.caption %}
		<span class="page-project-media-caption">
			{{ media.caption }}
		</span>
	{% endif %}
</div>
