{% if nav.prev_project or nav.next_project %}
	<nav class="project-bottom-nav">
		{% if nav.prev_project %}
			<a
				href="{% url 'project_url' nav.prev_project.slug %}"
				class="project-bottom-nav-item project-bottom-nav-item--prev"
			>
				<span class="project-bottom-nav-item-label">
					Previous project
				</span>
				<br />
				{{ nav.prev_project.title }}
			</a>
		{% endif %}
		{% if nav.next_project %}
			<a
				href="{% url 'project_url' nav.next_project.slug %}"
				class="project-bottom-nav-item project-bottom-nav-item--next"
			>
				<span class="project-bottom-nav-item-label">
					Next project
				</span>
				<br />
				{{ nav.next_project.title }}
			</a>
		{% endif %}
	</nav>
{% endif %}
