<!DOCTYPE HTML>
<html lang="en">
	<head>
		<title>
			{% block title %}{% endblock %} | Michael P. Geraci
		</title>
		<meta name="viewport" content="width=device-width, user-scalable=no" />
		<meta name="verify-v1" content="c3G4kM74qA6ztpDl/bE6D/t9pgqANYt17h1Xjs/b0q8=">
		<meta name="description" content="{% block description %}{% endblock %}">
		<meta name="keywords" content="michael, geraci, michael geraci, michael p. geraci, engineering, software, react, graphql, web design, web, user experience, ux design, photography, recording">
		{% block meta %}{% endblock %}

		{% if use_old_nav %}
			<link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.ico" type="image/x-icon">
		{% else %}
			<link rel="icon" href="{{ STATIC_URL }}images/favicon.png">
		{% endif %}

		{% if is_local %}
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ STATIC_URL }}css/build/styles.css"
			/>
		{% else %}
			<link
				rel="stylesheet"
				type="text/css"
				href="{{ STATIC_URL }}css/build/styles.min.css?v={{ static_versions.styles }}"
			/>
		{% endif %}
	</head>
	<body
		id="{% block bodyid %}{% endblock %}"
		class="page-{% block bodyclass %}{% endblock %}{% if use_old_nav %} green-bg{% endif %}"
	>

		{% if use_old_nav %}
			{% include "menu.html" %}
		{% else %}
			{% include "menu_new.html" with background=project.background light_text=project.light_text %}
		{% endif %}

		<section class="content">
			{% block content %}{% endblock %}
		</section>

		{% if is_local %}
			<script
				type="text/javascript"
				src="{{ STATIC_URL }}js/build/app.js">
			</script>
		{% else %}
			<script
				type="text/javascript"
				src="{{ STATIC_URL }}js/build/app.min.js?v={{ static_versions.app }}">
			</script>
		{% endif %}

		{% block scripts %}{% endblock %}

	</body>
</html>
