<nav
	class="project-nav {% if light_text %}project-nav--light-text{% endif %}"
	{% if background %}style="background: #{{ background }}"{% endif %}
>
	<div class="project-nav-left">
		<div class="project-nav-content">
			<a class="project-nav-title" href="/?projects=1">
				Michael P. Geraci
			</a>
		</div>
	</div>

	<div class="project-nav-right">
		<div class="project-nav-content">
			<a class="project-nav-link" href="{{ STATIC_URL }}documents/Geraci_Resume_Web.pdf">
				Resume
			</a>
			<a class="project-nav-link" href="https://github.com/mgeraci">
				GitHub
			</a>
			<a class="project-nav-link" href="mailto:me@mgeraci.com">
				Email
			</a>
		</div>
	</div>
</nav>
