<nav>

	<ul class="nav-desktop">
		{% for menu_item in menu %}
			{% include "menu_item.html" with name=menu_item.split_name %}
		{% endfor %}
	</ul>

	<div class="nav-mobile">
		<div class="nav-mobile-header">
			<button class="nav-mobile-header-title">
				{{ active_page_name }}
				<span class="nav-mobile-header-title-icon"></span>
			</button>
			<a class="nav-mobile-header-icon" href="/">
				MPG
			</a>
		</div>

		<div class="nav-mobile-menu">
			<ul class="nav-mobile-menu-content">
				{% for menu_item in menu %}
					{% include "menu_item.html" with name=menu_item.name %}
				{% endfor %}
			</ul>
			<button class="nav-mobile-menu-close">
				<span class="nav-mobile-menu-close-icon"></span>
				<span class="nav-mobile-menu-close-text">
					close menu
				</span>
			</button>
		</div>
	</div>

</nav>
