<nav class="project-nav">
	<div class="project-nav-left">
		<div class="project-nav-content">
			<a class="project-nav-title" href="/?projects=1">
				Michael P. Geraci
			</a>
		</div>
	</div>

	<div class="project-nav-right">
		<div class="project-nav-content">
			<a
				 class="project-nav-link {% if request.path == "/" %}active{% endif %}"
				 href="/?projects=1#about">
				About
			</a>
				<a class="project-nav-link" href="/?projects=1#work">
				Work
			</a>
			<a class="project-nav-link" href="mailto:me@mgeraci.com">
				Email
			</a>
		</div>
	</div>
</nav>
