# Begin password protection #
# AuthName "Admin"
# Require valid-user
# AuthUserFile "/home/michaelgeraci/michaelgeraci.com/admin/" # dreamhost
# AuthUserFile "/home/users/web/b2877/ipw.michaelg/public_html/admin/.htpasswd" # ipower
# AuthUserFile "/Users/mgeraci/Web/mine/admin/htpasswd" # local
# AuthType basic
# End password protection #