{% extends 'base.html' %}

{% block title %}
Composition | {{ piece.title }}
{% endblock %}

{% block content %}

{% include 'pages/composition_menu.html' %}

<div class="submenu-content">
	{{ piece.title }}, {{ piece.year }}
	<br />
	{{ piece.materials }}{% if piece.duration %}, {{ piece.duration }}{% endif %}
	<br />
	{% if piece.audio %}
	<audio controls preload="none">
		<source src="{{ MEDIA_URL }}{{ piece.audio }}" type="audio/mpeg" />
	{% endif %}
	<br />
	<br />
	<br />
	great musix
</div>

{% endblock %}
