{% extends 'base.html' %}

{% block title %}
Composition | {{ piece.title }}
{% endblock %}

{% block bodyclass %}composition{% endblock %}

{% block content %}

{% include 'pages/composition_menu.html' %}

<div class="submenu-content">
	<h2>{{ piece.title }}, {{ piece.year }}</h2>
	<span class="materials">
		{{ piece.materials }}{% if piece.duration %}, {{ piece.duration }}{% endif %}
	</span>
	<br />
	{% if piece.audio %}
		<audio src="{{ MEDIA_URL }}{{ piece.audio }}" preload="none"></audio>
	{% endif %}
	{% if piece.description %}
		<br />
		<h3>About the piece</h3>
		{{ piece.description|safe }}
	{% endif %}
</div>

{% endblock %}
