{% extends 'base.html' %}

{% block title %}
Graphic Design
{% endblock %}

{% block bodyclass %}graphic{% endblock %}

{% block content %}

{% include "pages/graphic_menu.html" %}

<div class="page-graphic-content">
	{% include "title.html" with item=title_bundle %}

	{% if graphic.image %}
		<div
			data-lazy-image="{{ MEDIA_URL }}{{ graphic.image}}"
			data-lazy-alt="An image of {{ graphic.title }}">
		</div>
	{% endif %}

	{% for image in images %}
		<div
			data-lazy-image="{{ MEDIA_URL }}{{ image.image}}"
			data-lazy-alt="An image of {{ graphic.title }}">
		</div>
	{% endfor %}
</div>

{% endblock %}
