{% extends 'base.html' %}

{% block title %}
Bio/Resume
{% endblock %}

{% block content %}
yo dawg, this is the index
<br />
<br />
Two senators seeking the <a href="#">Republican presidential nomination</a>, Ted Cruz of Texas and Marco Rubio of Florida, both said unequivocally that the Republican-controlled Senate should ignore any nomination sent by Mr. Obama to Capitol Hill.
<br />
<br />
<span class="other-color">
	“The president can <a href="#">nominate whoever he pleases</a>, but the Senate is not going to act, and that’s pretty clear,” Mr. Rubio said on “Fox News Sunday.” “So, we can keep debating it but we’re not moving forward on it, period.”
</span>
{% endblock %}
