=stack
  float: left
  clear: both

=stackwide
  +stack
  width: 100%

.page-album-list
  &-title
    h1,
    h3
      +stackwide
      text-align: center

    h1
      position: relative
      display: inline-block
      width: 100%
      max-height: 66px
      @include type(60px, 60px)
      font-weight: bold

    h3
      @include type(24px, 36px)
      font-style: oblique
      font-weight: normal
      margin:
        bottom: 5px

  &-navigation
    @include stackwide
    margin-top: 20px
    text-align: center
    @include type(16px, 26px)

    a
      @include link($text, $cream)

    .active
      text-decoration: none

      &:hover
        color: $text

  &-items
    +stackwide
    margin:
      top: 60px

  &-item
    position: relative
    +stackwide
    margin-bottom: 50px

    &-count
      font-size: 500px
      font-style: oblique
      position: absolute
      top: 0px
      left: -140px
      z-index: 1
      color: rgba(#000, 0.1)

    &-image
      position: relative
      z-index: 2
      float: left
      width: 400px
      height: 400px
      background: transparentize(white, 0.8)

      img
        width: 100%
        height: 100%

    &-content
      float: left
      width: 400px

    &-album,
    &-artist
      text-align: left
      color: $text
      font-size: 45px

    &-artist
      font-size: 20px

      span
        font-size: 40px

    &-description
      @include type(18px, 27px)

    &-links
      margin-top: 30px
      font-size: 15px

      // `a` for specificity
      a.page-album-list-item-links-link
        display: inline-block
        margin-left: 10px
        @include link(rgba($text, 0.5), $cream)

        &:first-child
          margin-left: 0

        // stubs for potentially styling later
        //&.amazon
        //&.itunes
        //&.spotify
        //&.bandcamp
        //&.text

    &:nth-child(1) &-count
      left: -115px

    &:nth-child(3) &-count
      top: -50px

    &:nth-child(4) &-count
      top: -60px

    &:nth-child(5) &-count
      top: -50px

    &:nth-child(6) &-count
      top: 30px

    &:nth-child(7) &-count
      top: -30px

    &:nth-child(8) &-count
      top: 30px

    &:nth-child(9) &-count
      top: -40px

    &:nth-child(10) &-count,
    &:nth-child(11) &-count,
    &:nth-child(12) &-count,
    &:nth-child(13) &-count,
    &:nth-child(14) &-count,
    &:nth-child(15) &-count
      letter-spacing: -70px
      left: -230px

    &:nth-child(11) &-count
      left: -210px

  &-thanks
    +stackwide
    margin:
      bottom: 50px
    text-align: center
