$circle-size: 90px
$menu-breakpoint: 800px
$menu-border-size: 4px
$menu-padding: 23px
$mobile-header-height: 90px
$mobile-header-padding: 20px

@mixin circle-style($size)
  display: inline-block
  width: $size
  height: $size
  border-radius: 50%
  background: $cream
  color: $green
  text-align: center
  text-decoration: none

nav
  @include clearfix
  max-width: $menu-max-width

.nav-desktop
  li
    float: left
    width: 100% / $menu-items
    text-align: center

    @media (min-width: $menu-breakpoint)
      text-align: center

      a
        @include circle-style($circle-size)
        padding-top: $menu-padding
        @include transition-property(background, color)
        @include transition-duration(75ms)
        @include transition-timing-function(linear)
        @include type(22px, 24px)

        &:hover,
        &:active,
        &.active
          background: $green
          padding-top: $menu-padding - $menu-border-size
          border: $menu-border-size solid $cream
          color: $cream

    @media (max-width: $menu-breakpoint - 1)
      display: none

.nav-mobile
  @include clearfix
  display: none

  @media (max-width: $menu-breakpoint - 1)
    display: block

  &-header
    display: block
    height: $mobile-header-height

  &-title
    float: left
    margin-top: $mobile-header-padding
    margin-left: $body-mobile-gutter
    @include circle-style($mobile-header-height - $mobile-header-padding * 2)
    @include type(20px, 54px)

  &-menu-trigger
    @include bare-button
    float: right
    margin-right: $body-mobile-gutter
    @include ellipsis
    max-width: 230px
    height: 100%
    text-align: right
    line-height: $mobile-header-height

  &-menu
    position: relative
    overflow: hidden
    float: left
    width: 100%
    max-height: 0
    background: rgba(#000, 0.1)
    @include transition(max-height 400ms linear)

    &--show
      max-height: 500px

    &::before,
    &::after
      content: ""
      display: block
      position: absolute
      z-index: 1
      left: 0
      width: 100%

    &::before
      top: 0
      height: 7px
      @include linear-gradient(rgba(#000, 0.05), rgba(#000, 0))
      background-color: transparent

    &::after
      bottom: 0
      height: 1px
      background: rgba(#000, 0.05)

    li
      float: left
      width: 25%

      @media (max-width: 770px)
        width: 33%

      @media (max-width: 590px)
        width: 50%

    // z-index to get on top of the -selector pseudoelement
    a
      position: relative
      z-index: 2
      display: block
      padding: 20px
      text-decoration: none
      color: $cream

      @media (max-width: 590px)
        padding: 10px
