// variables
///////////////////////////////////////////////////////////////////////////////

// colors
$green: #bbd199
$cream: #f3f4d3
$text: #444


// sizes
$body-width: 1100px
$body-breakpoint-gutter: 50px
$body-mobile-gutter: 4%
$menu-max-width: 1000px

// various
$menu-items: 7


// global includes
///////////////////////////////////////////////////////////////////////////////

@import "bourbon/bourbon"
@import "reset.css"
@import "mixins"


// general styles
///////////////////////////////////////////////////////////////////////////////

*
  box-sizing: border-box

body
  background: $green
  color: $text
  font-family: body, Georgia, serif
  @include type(23px, 29px)

section,
.nav-desktop
  display: block
  width: 100%

section.content
  @include content-sizing

.content a
  text-decoration: none
  @include link($text, $cream)


// local includes
///////////////////////////////////////////////////////////////////////////////

// general
@import "fonts"
@import "menu"

// pages
@import "index"
