@import url(reset.css);
* {
  box-sizing: border-box; }

body {
  background: #bbd199;
  padding-bottom: 20px;
  color: #444;
  font-family: body, Georgia, serif;
  font-size: 23px;
  line-height: 29px; }

section,
.nav-desktop {
  display: block;
  width: 100%; }

section.content {
  display: block;
  padding-top: 40px;
  max-width: 1000px; }
  section.content::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 1051px) {
    section.content {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); } }
  @media (max-width: 1050px) {
    section.content {
      width: 92%;
      margin-left: 4%; } }

.content a {
  text-decoration: none;
  text-decoration: none;
  background-repeat: repeat-x;
  background-size: 2px 2px;
  background-position: 0 85%; }
  .content a, .content a:visited {
    color: #444;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(68, 68, 68, 0.6) 50%); }
  .no-touchevents .content a:hover, .no-touchevents .content a:active {
    color: #f3f4d3;
    background-image: linear-gradient(to bottom, transparent 50%, rgba(243, 244, 211, 0.6) 50%);
    text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }

h2 {
  font-weight: bold;
  font-size: 26px;
  padding-bottom: 10px; }

h3 {
  font-weight: bold; }

blockquote {
  border-left: 3px solid rgba(0, 0, 0, 0.1);
  padding-left: 20px;
  margin: 20px 0; }

em {
  font-style: oblique; }

.title h2,
.title .subtitle {
  display: block;
  width: 100%;
  text-align: center; }
.title .subtitle {
  position: relative;
  bottom: 10px; }

@font-face {
  font-family: "body";
  src: url("../fonts/body.eot?#iefix") format("embedded-opentype"), url("../fonts/body.woff") format("woff"), url("../fonts/body.ttf") format("truetype"), url("../fonts/body.svg#Body") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: "body";
  src: url("../fonts/body_italic.eot?#iefix") format("embedded-opentype"), url("../fonts/body_italic.woff") format("woff"), url("../fonts/body_italic.ttf") format("truetype"), url("../fonts/body_italic.svg#BodyItalic") format("svg");
  font-weight: normal;
  font-style: oblique; }
@font-face {
  font-family: "body";
  src: url("../fonts/body_bold.eot?#iefix") format("embedded-opentype"), url("../fonts/body_bold.woff") format("woff"), url("../fonts/body_bold.ttf") format("truetype"), url("../fonts/body_bold.svg#BodyBold") format("svg");
  font-weight: bold;
  font-style: normal; }
@font-face {
  font-family: "headline";
  src: url("../fonts/headline.eot?#iefix") format("embedded-opentype"), url("../fonts/headline.woff") format("woff"), url("../fonts/headline.ttf") format("truetype"), url("../fonts/headline.svg#Headline") format("svg");
  font-weight: bold;
  font-style: normal; }
nav::after {
  clear: both;
  content: "";
  display: table; }

.nav-desktop {
  display: block;
  padding-top: 40px;
  max-width: 1000px;
  padding-top: 20px;
  padding-bottom: 20px;
  max-width: 1000px; }
  .nav-desktop::after {
    clear: both;
    content: "";
    display: table; }
  @media (min-width: 1051px) {
    .nav-desktop {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -moz-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      -o-transform: translateX(-50%);
      transform: translateX(-50%); } }
  @media (max-width: 1050px) {
    .nav-desktop {
      width: 92%;
      margin-left: 4%; } }
  @media (max-width: 799px) {
    .nav-desktop {
      display: none; } }
  .nav-desktop li {
    float: left;
    width: 14.28571%;
    text-align: center; }
    @media (min-width: 800px) {
      .nav-desktop li {
        text-align: center; }
        .nav-desktop li a {
          display: inline-block;
          width: 90px;
          height: 90px;
          border-radius: 50%;
          background: #f3f4d3;
          color: #bbd199;
          text-align: center;
          text-decoration: none;
          padding-top: 23px;
          -webkit-transition-property: background, color;
          -moz-transition-property: background, color;
          transition-property: background, color;
          -webkit-transition-duration: 75ms;
          -moz-transition-duration: 75ms;
          transition-duration: 75ms;
          -webkit-transition-timing-function: linear;
          -moz-transition-timing-function: linear;
          transition-timing-function: linear;
          font-size: 22px;
          line-height: 24px; }
          .nav-desktop li a:hover, .nav-desktop li a:active, .nav-desktop li a.active {
            background: #bbd199;
            padding-top: 20px;
            border: 3px solid #f3f4d3;
            color: #f3f4d3; } }

.nav-mobile {
  display: none; }
  .nav-mobile::after {
    clear: both;
    content: "";
    display: table; }
  @media (max-width: 799px) {
    .nav-mobile {
      display: block; } }
  .nav-mobile--has-menu .nav-mobile-menu {
    height: 254px; }
  .nav-mobile--has-menu .nav-mobile-menu-trigger-icon {
    border: 0;
    height: 0;
    width: 0;
    border-bottom: 6px solid #444;
    border-left: 6px solid transparent;
    border-right: 6px solid transparent; }
  .nav-mobile-header {
    display: block;
    height: 90px; }
  .nav-mobile-title {
    float: left;
    margin-top: 20px;
    margin-left: 4%;
    display: inline-block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #f3f4d3;
    color: #bbd199;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    line-height: 54px; }
  .nav-mobile-menu-trigger {
    padding: 0;
    margin: 0;
    background: none;
    border: none;
    font-size: inherit;
    font-family: inherit;
    outline: none;
    position: relative;
    float: right;
    margin-right: 4%;
    display: inline-block;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    word-wrap: normal;
    max-width: 230px;
    padding-right: 20px;
    height: 100%;
    text-align: right;
    line-height: 90px; }
    .nav-mobile-menu-trigger-icon {
      position: absolute;
      top: 50%;
      right: 0;
      margin-top: -3.6px;
      height: 0;
      width: 0;
      border-left: 6px solid transparent;
      border-right: 6px solid transparent;
      border-top: 6px solid #444; }
  .nav-mobile-menu {
    position: absolute;
    overflow: hidden;
    z-index: 2;
    top: 90px;
    left: 0;
    float: left;
    width: 100%;
    background: rgba(0, 0, 0, 0.7);
    -webkit-transition: height 100ms ease-in-out;
    -moz-transition: height 100ms ease-in-out;
    transition: height 100ms ease-in-out;
    height: 0; }
    .nav-mobile-menu::before, .nav-mobile-menu::after {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      left: 0;
      width: 100%; }
    .nav-mobile-menu::before {
      top: 0;
      height: 7px;
      background-color: rgba(0, 0, 0, 0.1);
      background-image: -webkit-linear-gradient(rgba(0, 0, 0, 0.1), transparent);
      background-image: linear-gradient(rgba(0, 0, 0, 0.1), transparent);
      background-color: transparent; }
    .nav-mobile-menu::after {
      bottom: 0;
      height: 1px;
      background: rgba(0, 0, 0, 0.1); }
    .nav-mobile-menu li {
      float: left;
      width: 25%; }
      @media (max-width: 770px) {
        .nav-mobile-menu li {
          width: 33%; } }
      @media (max-width: 590px) {
        .nav-mobile-menu li {
          width: 50%; } }
    .nav-mobile-menu a {
      position: relative;
      z-index: 2;
      display: block;
      padding: 20px;
      text-decoration: none;
      color: #f3f4d3; }
      @media (max-width: 590px) {
        .nav-mobile-menu a {
          padding: 10px; } }

.submenu-mobile {
  position: relative;
  bottom: 20px;
  float: left;
  clear: both;
  margin-bottom: 20px; }
  @media (min-width: 801px) {
    .submenu-mobile {
      display: none; } }

.submenu {
  float: left;
  width: 100%;
  display: table; }
  .submenu-menu, .submenu-content {
    float: left;
    padding: 20px 0; }
  .submenu-menu {
    width: 30%;
    padding-right: 6%;
    border-right: 1px solid #f3f4d3; }
    @media (max-width: 800px) {
      .submenu-menu {
        display: none; } }
    @media (max-width: 800px) {
      .submenu-menu--no-hide {
        display: block;
        width: 100%;
        border: none; } }
    .submenu-menu li {
      margin-top: 20px; }
      .submenu-menu li:first-child {
        margin-top: 0; }
    .submenu-menu a {
      display: block; }
      .submenu-menu a, .submenu-menu a:hover, .no-touchevents .submenu-menu a, .no-touchevents .submenu-menu a:hover {
        background-image: none; }
      .submenu-menu a.active {
        color: #f3f4d3;
        text-shadow: 0 1px 2px rgba(0, 0, 0, 0.15); }
  .submenu-content {
    width: 70%;
    padding-left: 6%; }
    @media (max-width: 800px) {
      .submenu-content {
        width: 100%;
        padding-left: 0; } }
    @media (max-width: 800px) {
      .submenu-content--hide {
        display: none; } }

.audiojs {
  position: relative;
  width: 100%;
  height: 40px;
  padding-top: 15px;
  padding-right: 115px;
  padding-bottom: 15px;
  padding-left: 55px;
  background: #d7e3b6;
  border-radius: 5px;
  color: #444;
  line-height: 40px; }
  .audiojs .play-pause,
  .audiojs .time {
    position: absolute;
    top: 0;
    height: 100%;
    background: #f3f4d3; }
  .audiojs .play-pause {
    left: 0;
    width: 40px;
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px;
    cursor: pointer; }
    .audiojs .play-pause:hover {
      background: #e8eaaa; }
  .audiojs .play {
    margin-top: 10px;
    margin-left: 12.5px;
    height: 0;
    width: 0;
    border-bottom: 10px solid transparent;
    border-left: 15px solid #444;
    border-top: 10px solid transparent; }
  .audiojs .pause {
    position: relative;
    margin-top: 12px;
    margin-left: 13px;
    width: 14px;
    height: 16px; }
    .audiojs .pause:before, .audiojs .pause:after {
      content: "";
      display: block;
      position: absolute;
      top: 0;
      width: 5px;
      height: 100%;
      background: #444; }
    .audiojs .pause:before {
      left: 0; }
    .audiojs .pause:after {
      right: 0; }
  .audiojs .pause {
    display: none; }
  .audiojs.playing .pause {
    display: block; }
  .audiojs.playing .play {
    display: none; }
  .audiojs .time {
    right: 0;
    width: 100px;
    overflow: hidden;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    text-align: center;
    font-family: monospace; }
    .audiojs .time,
    .audiojs .time em {
      font-style: normal;
      font-size: 12px; }
  .audiojs .scrubber {
    width: 100%;
    height: 100%;
    background: #a4c176; }
    .audiojs .scrubber .progress {
      width: 0;
      height: 100%;
      background: #444;
      -webkit-transition: width 600ms linear;
      -moz-transition: width 600ms linear;
      transition: width 600ms linear; }

.page-index {
  background: #b2cb8b; }
  .page-index nav,
  .page-index .index-top {
    background: #bbd199; }
  .page-index section.content {
    width: 100%;
    max-width: 100%;
    margin: 0;
    padding-top: 0; }

.index-top {
  background: #bbd199;
  padding-bottom: 30px; }
  .index-top::after {
    clear: both;
    content: "";
    display: table; }
  .index-top-content {
    display: block;
    padding-top: 40px;
    max-width: 1000px; }
    @media (min-width: 1051px) {
      .index-top-content {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }
    @media (max-width: 1050px) {
      .index-top-content {
        width: 92%;
        margin-left: 4%; } }
  @media (max-width: 550px) {
    .index-top .index-top-left,
    .index-top .index-top-right {
      width: 100%;
      margin: 0;
      padding: 0; }
      .index-top .index-top-left:last-child,
      .index-top .index-top-right:last-child {
        margin-top: 20px; }
    .index-top .index-top-left-image-wrapper {
      width: 50%;
      padding-top: 50%; } }
  .index-top-left {
    float: left;
    margin-top: 30px;
    width: 33%;
    text-align: center; }
    @media (min-width: 820px) {
      .index-top-left {
        text-align: right; }
        .index-top-left .index-top-left-image-wrapper {
          width: 250px;
          height: 250px;
          padding: 0; } }
    .index-top-left-image-wrapper {
      display: inline-block;
      position: relative;
      overflow: hidden;
      width: 100%;
      padding-top: 100%;
      background: rgba(0, 0, 0, 0.1);
      border-radius: 50%;
      box-shadow: 0 0 2px rgba(0, 0, 0, 0.2); }
      .index-top-left-image-wrapper img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: auto; }
  .index-top-right {
    float: right;
    width: 60%;
    padding-top: 20px; }
    @media (min-width: 1000px) {
      .index-top-right {
        padding-right: 100px; } }
    .index-top-right h2,
    .index-top-right p {
      padding-bottom: 20px; }
      .index-top-right h2:last-child,
      .index-top-right p:last-child {
        padding-bottom: 0; }
    .index-top-right h2 {
      font-family: headline;
      font-size: 36px; }
      @media (max-width: 690px) {
        .index-top-right h2 {
          font-size: 28px; } }

.index-bottom {
  border-top: 1px solid #a4c176; }
  .index-bottom-content {
    display: block;
    padding-top: 40px;
    max-width: 1000px;
    max-width: 900px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
    @media (min-width: 1051px) {
      .index-bottom-content {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }
    @media (max-width: 1050px) {
      .index-bottom-content {
        width: 92%;
        margin-left: 4%; } }
  .index-bottom-headline {
    display: block;
    width: 100%;
    margin-bottom: 20px; }
  .index-bottom-recent::after {
    clear: both;
    content: "";
    display: table; }
  .index-bottom-copyright {
    display: block;
    font-size: 18px;
    margin-top: 40px; }

.recent-item {
  position: relative;
  float: left;
  width: 50%;
  min-height: 75px;
  margin-bottom: 20px;
  padding-top: 12px;
  padding-right: 20px;
  padding-left: 95px;
  background-image: none !important;
  font-size: 20px;
  line-height: 28px; }
  @media (max-width: 550px) {
    .recent-item {
      width: 100%;
      padding-right: 0; } }
  .recent-item-image {
    position: absolute;
    top: 0;
    left: 0;
    width: 75px;
    height: 75px;
    background: rgba(0, 0, 0, 0.1); }
  .recent-item-text {
    display: block;
    width: 100%; }

.page-recordings .title {
  margin-bottom: 20px; }
.page-recordings .recording-content-wrapper {
  position: relative; }
.page-recordings .recording-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  height: 200px; }
  @media (max-width: 875px) {
    .page-recordings .recording-thumbnail {
      position: relative;
      width: 100%;
      margin-bottom: 20px; }
      .page-recordings .recording-thumbnail img {
        position: relative;
        left: 50%;
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
        transform: translateX(-50%); } }
  .page-recordings .recording-thumbnail img {
    float: left; }
.page-recordings .recording-content {
  margin-bottom: 20px; }
.page-recordings .recording-thumbnail + .recording-content {
  margin-bottom: 0;
  padding-left: 220px;
  min-height: 220px; }
  @media (max-width: 875px) {
    .page-recordings .recording-thumbnail + .recording-content {
      min-height: 0;
      padding-left: 0; } }
.page-recordings .recording + .recording {
  margin-top: 20px; }
.page-recordings .recording-title {
  padding-bottom: 10px;
  font-style: oblique;
  font-size: 20px; }
.page-recordings .recording-description {
  font-size: 20px;
  line-height: 26px; }

.page-web {
  text-align: center; }
  .page-web-menu {
    display: block;
    width: 100%; }
    .page-web-menu::after {
      clear: both;
      content: "";
      display: table; }
    .page-web-menu-item {
      position: relative;
      overflow: hidden;
      float: left;
      width: 31%;
      margin: 1.166%;
      padding-top: 13%;
      background: rgba(0, 0, 0, 0.05);
      background-image: none !important;
      text-align: center;
      outline: none; }
      @media (max-width: 870px) {
        .page-web-menu-item {
          width: 45%;
          margin: 2.5%;
          padding-top: 18.5%; } }
      @media (max-width: 590px) {
        .page-web-menu-item {
          position: relative;
          left: 50%;
          -webkit-transform: translateX(-50%);
          -moz-transform: translateX(-50%);
          -ms-transform: translateX(-50%);
          -o-transform: translateX(-50%);
          transform: translateX(-50%);
          width: 400px;
          height: 165px;
          margin: 0;
          margin-bottom: 20px; } }
      @media (max-width: 440px) {
        .page-web-menu-item {
          width: 100%;
          height: auto;
          padding-top: 41%; } }
      .page-web-menu-item-text-wrapper {
        display: none;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0, 0, 0, 0.6); }
        .touchevents .page-web-menu-item-text-wrapper, .no-touchevents .page-web-menu-item-text-wrapper {
          display: block; }
        .no-touchevents .page-web-menu-item-text-wrapper {
          opacity: 0;
          -webkit-transition: opacity 75ms linear;
          -moz-transition: opacity 75ms linear;
          transition: opacity 75ms linear; }
          .no-touchevents .page-web-menu-item-text-wrapper:hover {
            opacity: 1;
            -webkit-transition: opacity 150ms linear;
            -moz-transition: opacity 150ms linear;
            transition: opacity 150ms linear; }
      .page-web-menu-item-image {
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: auto; }
        .page-web-menu-item-image img {
          width: 100%;
          height: auto; }
      .page-web-menu-item-text {
        position: absolute;
        top: 50%;
        left: 0;
        -webkit-transform: translateY(-50%);
        -moz-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        -o-transform: translateY(-50%);
        transform: translateY(-50%);
        width: 100%;
        padding: 20px;
        text-align: center;
        color: #f3f4d3;
        text-shadow: 0 0 6px rgba(0, 0, 0, 0.2);
        letter-spacing: 0.02em; }
  .page-web .fluid-width-video-wrapper,
  .page-web .web-image {
    max-width: 750px;
    margin: 40px auto 0; }
  .page-web .web-image::after {
    clear: both;
    content: "";
    display: table; }
  .page-web .web-image img {
    float: left;
    width: 100%; }

.page-links h3 {
  margin-bottom: -10px; }
.page-links-column {
  width: 36%;
  float: left; }
  .page-links-column + .page-links-column {
    width: 56%;
    margin-left: 8%; }
  @media (max-width: 880px) {
    .page-links-column {
      width: 100%; }
      .page-links-column + .page-links-column {
        width: 100%;
        margin-top: 30px;
        margin-left: 0; } }

.page-graphic .submenu-mobile {
  float: left;
  clear: both;
  margin-bottom: 0; }
.page-graphic .content {
  display: -webkit-box;
  display: -moz-box;
  display: box;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: flex; }
  @media (max-width: 800px) {
    .page-graphic .content {
      display: block; } }
.page-graphic-menu, .page-graphic-content {
  padding-top: 20px;
  padding-bottom: 20px; }
.page-graphic-menu-mobile {
  display: none; }
  .page-graphic-menu-mobile li {
    margin-bottom: 20px; }
  .page-graphic-menu-mobile a,
  .page-graphic-menu-mobile a:hover {
    background-image: none; }
  @media (max-width: 800px) {
    .page-graphic-menu-mobile {
      display: block; } }
.page-graphic-menu {
  width: 25%;
  padding-right: 3%;
  border-right: 1px solid #f3f4d3; }
  @media (min-width: 929px) {
    .page-graphic-menu {
      padding-left: 3%; } }
  @media (max-width: 800px) {
    .page-graphic-menu {
      display: none; } }
  .page-graphic-menu-wrapper {
    width: 190px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
  .page-graphic-menu a {
    float: left;
    width: 75px;
    height: 75px;
    margin: 10px;
    -webkit-transition: opacity 150ms linear;
    -moz-transition: opacity 150ms linear;
    transition: opacity 150ms linear;
    opacity: 0.3; }
    .page-graphic-menu a:hover, .page-graphic-menu a.active {
      -webkit-transition: opacity 75ms linear;
      -moz-transition: opacity 75ms linear;
      transition: opacity 75ms linear;
      opacity: 1; }
    .page-graphic-menu a img {
      float: left;
      width: 100%;
      height: 100%; }
.page-graphic-content {
  width: 75%;
  padding-left: 3%; }
  @media (max-width: 800px) {
    .page-graphic-content {
      width: 100%;
      padding: 0; } }
  .page-graphic-content img {
    max-width: 100%;
    margin-top: 30px;
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }
