<article class="project more-projects">
	<div class="project-text">
		<div class="project-text-content">
			<h2 class="project-text-title">
				A few other things
			</h2>
			I’ve been writing a yearly list of records that I listened to and enjoyed for over ten years now!
			That lives
			<a href="/albums" class="project-text-link">here</a>.
			<br />
			<br />
			I play banjo in a bluegrass band called the Lake Effect String band; check out our
			<a href="https://www.instagram.com/lake.effect.strings/" target="_blank" rel="noopener noreferrer" class="project-text-link">instagram</a>
			to see some pics and videos.
			<br />
			<br />
			I take photographs every now and again, and post them to a little
			<a href="/photography/blog" class="project-text-link">photoblog</a> I whipped up.
			<br />
			<br />
			Back when I lived in NYC, I played steel drums in an annual competition called Panorama;
			I’ve listed those performances (from 2004-2019)
			<a href="/steel" class="project-text-link">here</a>.
		</div>
	</div>
</article>
