<article class="project more-projects">
	<div class="project-text">
		<div class="project-text-content">
			<h2 class="project-text-title">
				A few other things
			</h2>
			For the last few years, I’ve written about the music that I listened to and enjoyed that year.
			That lives
			<a href="/albums" class="project-text-link">here</a>.
			<br />
			<br />
			Also, I play steel drums in a competition every summer; I’ve listed those performances
			<a href="/steel" class="project-text-link">here</a>.
			<br />
			<br />
			I take
			<a href="/photography/blog" class="project-text-link">photograhps</a>
			every now and again (though I’m a few years behind developing them&hellip;).
		</div>
	</div>
</article>
