<article class="project more-projects">
	<div class="project-text">
		<div class="project-text-content">
			<h2 class="project-text-title">
				A few other things
			</h2>
			For the last few years, I’ve written about the music that I listened to and enjoyed that year.
			That lives
			<a href="/albums" class="project-text-link">here</a>.
			<br />
			<br />
			I also play steel drums, and there are some performances listed
			<a href="/steel" class="project-text-link">here</a>.
		</div>
	</div>
</article>
