<article
	class="project"
	{% if project.background %}style="background-color: #{{ project.background }}"{% endif %}
>
	{% include "pages/index/project_image.html" %}

	<div class="project-text">
		<div class="project-text-content">
			<h2 class="project-text-title">
				{{ project.title }}
			</h2>
			<span class="project-text-description">
				{{ project.description }}
			</span>
			<br />
			<a href="{% url 'project_url' project.slug %}" class="project-text-more">
				more
				<span class="project-text-more-arrow">
					&raquo;
				</span>
			</a>
		</div>
	</div>
</article>
