<article class="project">
	<div class="project-text">
		<div class="project-text-content">
			<h2 class="project-text-title">
				{{ project.title }}
			</h2>
			<span class="project-text-description">
				{{ project.description }}
			</span>
			<br />
			<a href="{% url 'project_url' project.slug %}" class="project-text-more">
				more &raquo;
			</a>
		</div>
	</div>
	<a
		href="{% url 'project_url' project.slug %}"
		class="project-image {% if project.image_full_bleed %}project-image--full-bleed{% endif %}"
		data-lazy-image="{{ MEDIA_URL }}{{ project.image }}"
		data-lazy-alt="{{ project.title }} screenshot"
		{% if project.image_max_width %}
			data-lazy-max-width="{{ project.image_max_width }}"
		{% endif %}
	></a>
</article>
