body{
	background: #febe2a;
	text-align: center;
}

#container{
	background: #eee;
	width: 1007px; /* as though it were 1000px */
	height: 507px; /* as though it were 500px */
	border: 5px solid #000;
}

#ball{
	background: #f00;
	width: 20px;
	height: 20px;
	position: absolute;
	top: 500px;
	left: 500px;
}