// sass --watch extras/topAlbums2011/stylesheets --style compressed

$green: #bbd199
$cream: #f3f4d3
$text: #444

=stack
  float: left
  clear: both

=stackwide
  +stack
  width: 100%

body
  color: $text

h2, h1
  +stackwide
  text-align: center
  
h2
  font-size: 30px
  font-style: oblique
  margin:
    bottom: 5px

h1
  font-size: 70px
  text-shadow: 1px 1px 1px rgba(0,0,0,0.2)


// =========
// = album =
// =========

ul#albums
  +stackwide
  margin:
    top: 60px

  li
    +stackwide
    margin:
      bottom: 50px
    position: relative
    
.count
  font-size: 500px
  font-style: oblique
  position: absolute
  top: 0px
  left: -140px
  z-index: 1
  color: darken($green, 4%)
  
img
  position: relative
  z-index: 2
  float: left
  width: 400px
  height: 400px
  background: transparentize(white, 0.8)

.content
  width: 50%
  float: right
  
  h1, h2
    +stack
    text-align: left
    color: $text
    font-size: 45px
  
  h2
    font-size: 20px
    
    span
      font-size: 40px
  
  .text
    +stackwide
    margin:
      top: 35px
    font-size: 24px
  
#thanks
  +stackwide
  margin:
    bottom: 50px
  text-align: center

.ignore